<div class="modal fade" id="modificarModal" tabindex="-1" role="dialog" aria-labelledby="modificarLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="modificarLabel">Modificar Usuario</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="modificarUSERNAME">Identificador de usuario</label>
            <input type="text" class="form-control" id="modificarUSERNAME" placeholder="ID del usuario" ng-model="NuevoUsuario.userid">
          </div>          
          <div class="form-group">
            <label for="modificarNombre">Nombre completo</label>
            <input type="text" class="form-control" id="modificarNombre" placeholder="Nombre del usuario" ng-model="NuevoUsuario.nombre">
          </div>
          <div class="form-group">
            <label for="modificarPassword">Contraseña</label>
            <input type="password" class="form-control" id="modificarPassword" placeholder="Nueva contraseña" ng-model="NuevoUsuario.password">
          </div>
          <div class="form-group">
            <label for="modificarPermisos">Permisos</label>
            <select ng-model="NuevoUsuario.groupid" id="modificarPermisos">
              <option value="Administrador">Administrador</option>
              <option value="Usuario">Editor</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" ng-click="modificar()">Actualizar</button>
      </div>
    </div>
  </div>
</div>