<html ng-app="discosApp">
  <head>
    <meta charset="utf-8">
    <title>Proyecto RESTful</title>  
    <!-- JQuery (requerido por Bootstrap y Angular -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />
    <link href="//netdna.bootstrapcdn.com/bootswatch/3.0.2/yeti/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css" />
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.js"></script> 
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-resource.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.4.0/ui-bootstrap-tpls.min.js"></script>
  </head>
  <body ng-controller="AppController">
    <div class="container">
      <h1>Álbumes</h1>
      Esteban Rodríguez Betancourt - B15512

      <div class="row">
        <button ng-click="beginNuevo()" class="btn btn-success" data-toggle="modal" data-target="#nuevoModal">
          Nuevo
        </button>
        <button ng-click="cargarDiscos()" class="btn btn-info">
          Recargar datos
        </button>
      </div>


      <div ng-include="'partials/nuevo.html'"></div>
      <div ng-include="'partials/edit.html'"></div>


      <table class="table table-hover">
        <thead>                
          <tr>
            <th>ID</th>
            <th>Autor</th>
            <th>Nombre</th>
            <th>Fecha</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="album in albumes">
            <td>{{album.did}}</td>
            <td>{{album.artista.nombre}}</td>
            <td>{{album.titulo}}</td>
            <td>{{album.fecha| date:'dd/MM/yyyy'}}</td>
            <td>
              <div class="row">
                <button href="#" ng-click="editar(album)" class="btn btn-warning">Modificar</button>
                <button href="#" ng-click="borrar(album)" class="btn btn-danger">Borrar</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <script src="js/discos.js" type="text/javascript"></script> 
  </body>
</html>