<html ng-app="discosApp">
  <head>
    <meta charset="utf-8">
    <title>Proyecto RESTful</title>  
    <!-- JQuery (requerido por Bootstrap y Angular -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />
    <link href="//netdna.bootstrapcdn.com/bootswatch/3.0.2/yeti/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css" />
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-resource.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.4.0/ui-bootstrap-tpls.min.js"></script>
  </head>
  <body ng-controller="AppController" style="padding-top: 70px;">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href=".">Administrador de álbumes</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li ng-hide="ROL.rol === 'visitante'"><p class="navbar-text">Logueado como {{ROL.username}} ({{ROL.rol}})</p></li>
            <li ng-show="ROL.rol === 'visitante'"><a data-toggle="modal" data-target="#loginModal">Iniciar sesión</a></li>
            <li ng-hide="ROL.rol === 'visitante'"><a ng-click="Logout()">Cerrar sesión</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="container" ng-hide="ROL.rol === 'Administrador'">
      <h1>Gestión de usuarios</h1>
      <p>Por favor, inicie sesión como administrador para poder gestionar los usuarios.</p>
    </div>
    <div class="container" ng-show="ROL.rol === 'Administrador'">
      <h1>Gestión de usuarios</h1>

      <div class="row">
        <button ng-click="beginNuevo()" class="btn btn-success" data-toggle="modal" data-target="#nuevoModal">
          Nuevo
        </button>
        <button ng-click="cargarDiscos()" class="btn btn-info">
          Recargar datos
        </button>
      </div>


      <div ng-include="'partials/newUser.html'"></div>
      <div ng-include="'partials/editUser.html'"></div>


      <table class="table table-hover">
        <thead>                
          <tr>
            <th>Username</th>
            <th>Nombre</th>
            <th>Rol</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in usuarios">
            <td>{{user.userid}}</td>
            <td>{{user.nombre}}</td>
            <td>{{user.groupid}}</td>
            <td>
              <div class="row" ng-show="ROL.rol === 'Administrador'" >
                <button href="#" ng-click="editar(user)" class="btn btn-warning btn-xs">Modificar</button>
                <button href="#" ng-click="borrar(user)" class="btn btn-danger btn-xs">Borrar</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
    <script src="js/user.js" type="text/javascript"></script> 
  </body>
</html>